
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$fontFamilyAll :'Inconsolata', monospace;


$colorOne   : #272822;
$colorTwo   : #1D1E1A;
$colorTree  : #48483E;
$colorFor   : #FE9720;
$colorFiver : #36AF90;
$colorSix   : #CFD0C2;


$backgroundOne : $colorOne;
$backgroundTwo : $colorTwo;
$backgroundTree : $colorTree;
$backgroundFor : $colorFor;
$backgroundFiver : $colorFiver;

$textOne : #CFD0C2;

$backgroundBody : $backgroundTwo;

$backgroundHeader : $backgroundOne;


// bootstrap
$font-family-base : $fontFamilyAll;
$font-size-base : 14px;
$line-height-base : 1.2;
$text-color: $colorSix;

$body-bg: $backgroundTwo;

$link-color: $colorFor;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

$border-radius-base: 0;
$border-radius-large: 0;

$thumbnail-padding: 4px;
$thumbnail-bg:                $body-bg !default;
$thumbnail-border:            #ddd !default;
$thumbnail-border-radius:     $border-radius-base !default;





