
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$fontFamilyAll :'Inconsolata', monospace;


$colorOne   : #272822;
$colorTwo   : #1D1E1A;
$colorTree  : #48483E;
$colorFor   : #FE9720;
$colorFiver : #36AF90;
$colorSix   : #CFD0C2;


$backgroundOne : $colorOne;
$backgroundTwo : $colorTwo;
$backgroundTree : $colorTree;
$backgroundFor : $colorFor;
$backgroundFiver : $colorFiver;

$textOne : #CFD0C2;

$backgroundBody : $backgroundTwo;

$backgroundHeader : $backgroundOne;
