// Bootstrap SASS
@import "./bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

// FontAwesome
@import "./bower_components/font-awesome/scss/font-awesome";



// your sass

h1 {
    color: blue
}