p {
  font-weight: 400;
  font-size: 1.125em;
}

article p {
  font-family: var(--body-font-family);
}

article p:first-of-type {
  margin-top: 2.5rem;
}

@media (min-width: 767px) {
  p {
    font-size: 1.25em;
    line-height: 1.7;
  }
}

article hr {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  border-style: ridge;
  border-width: 1px;
}

article header h1 {
  color: var(--header-color);
}
