.block {
  padding: 30px 20px;
  color: white;
}

@media (min-width: 765px) {
  .block {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .block {
    width: 900px;
  }
}

.block p {
  line-height: 1.7;
}

.title {
  font-size: 26px;
}
