.header {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  background-color: var(--purple);
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__language-switch {
  margin-right: 15px;
}

.header__brand {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.5em;
  font-family: var(--sansbase-font-family);
  line-height: 1.5em;
}

.header__brand a {
  color: #FFFFFF;
}

.header__theme {
  display: flex;
}
