.language-selector {
  position: relative;
}

.language-selector__selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  padding: 4px 12px;
  cursor: pointer;
}

.language-selector__selected:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.language-selector__selected:after {
  display: flex;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjBxwANivRS5+OAAAAd0lEQVQoz62RKw6AMBAFX7kJGBICB6ji/hYMAoEiFNcEPxh+bQmKdbsz+0lW+iXIPqrkDDhsgi2OgUJ0APhQweIB6MUIsXJhGEXJfCQbbYRXGilSEixJVCzXohM76udR95S4+1VJcaC84+OWiSnYnSgG88/77tgB1LWvQiuLy6YAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMjdUMjI6NTQ6NDMrMDI6MDBRzF/EAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA3LTI3VDIyOjU0OjQzKzAyOjAwIJHneAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=");
  content: " ";
}

.language-selector__dropdown {
  position: absolute;
  right: 0;
  display: none;
  min-width: 150px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  background-color: #FFFFFF;
  border: 1px solid var(--purple);
}

.language-selector:hover .language-selector__dropdown {
  display: flex;
}

.language-selector__item {
  display: flex;
  flex: 1;
  margin: 0;
  white-space: nowrap;
}

.language-selector__item a {
  flex: 1;
  padding: 4px 12px;
}

.language-selector__item a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
