.language {
  display: flex;
  transition: transform 0.25s ease;
}

.language:hover {
  cursor: pointer;
}

.language .icon {
  margin-right: 5px;
  fill: var(--textNormal);
}

.language span {
  color: var(--textNormal);
}

.language-focused {
  transform: scale(1.1);
}
