.layout {
  min-height: 100vh;
  font-family: var(--base-font-family);
  background: var(--bg);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

.layout__container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
}
