.layout {
  min-height: 100vh;
  color: var(--textNormal);
  font-family: var(--sansSerifFont);
  background: var(--bg);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

.layout__container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 24px 40px;
}
