.lang-icon {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  overflow: hidden;
  color: rgb(255, 167, 196);
  font-size: 1.25rem;
  font-family: var(--sansbase-font-family);
  text-decoration: none;
  border-radius: 50%;
  box-shadow: none;
  user-select: none;
}
