.round-tag {
  display: inline-block;
  margin: 0 0 0.3em 1em;
  margin-left: 15px;
  padding: 0;
}

.text {
  display: block;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link {
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 0 1em 0 0.75em;
  color: var(--tag-color, #FFFFFF);
  font-size: 13px;
  line-height: 30px;
  text-decoration: none;
  background-color: var(--tag-bg, #3498DB);
  border-radius: 0 5px 5px 0;
  transition: 0.2s;
}

.link::before {
  position: absolute;
  top: 0;
  left: -15px;
  width: 15px;
  height: 30px;
  background-color: var(--tag-bg, #3498DB);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 0.2s;
  content: "";
}

.link::after {
  position: absolute;
  top: 50%;
  left: -6px;
  z-index: 2;
  display: block;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: var(--tag-color, #FFFFFF);
  border-radius: 100%;
  content: "";
}

.link:hover {
  color: var(--tag-color, #FFFFFF);
  background-color: #555555;
}

.link:hover::before {
  background-color: #555555;
}
