:root {
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-color: #444443;
  --base-font-family: "Open Sans", sans-serif;
  --body-font-family: "Lora", serif;
  --header-font-family: "Open Sans", sans-serif;
  --header-color: #212121;

  --purple1: #B37EE7;
  --purple2: #7F53AA;
  --purple3: #5B1D99;
  --purple4: #AB70E5;
  --purple5: #3D1366;
  --purple6: #281C40;
  --purpleLight: var(--purple1);
  --purple: var(--purple3);
  --purpleDark: var(--purple5);

  --pink: rgb(255, 167, 196);
  background-color: var(--bg);
  --breadcrumbsDividerSize: 20px;
}

body {
  -webkit-font-smoothing: antialiased;
}

body.light {
  --bg: #FFFFFF;
  --header-color: #212121;
  --base-color: #444443;
  --hr-color: #212121;

  --header: var(--purple);
  --textNormal: #222222;
  --textTitle: #222222;
  --link: var(--purple);
  --linkHover: var(--purple4);
  --linkActive: var(--purpleDark);
  --hr: hsla(0, 0%, 0%, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1A1A1A;
  --tag-bg: var(--purple);
  --tag-color: #FFFFFF;
  --breadcrumbsTextColor: #A1C4E9;
  --breadcrumbsTextColorActive: #888888;
  --linkBackground: rgba(187, 239, 253, 0.3);
  --linkBorder: rgba(0, 0, 0, 0.2);
  --purple: #5B1D98;
}

body.dark {
  --bg: #212121;
  --header-color: #FFFFFF;
  --base-color: #CCCCCC;
  --hr-color: #CCCCCC;

  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #FFFFFF;
  --link: var(--purpleLight);
  --linkHover: var(--purple4);
  --linkActive: var(--purpleLight);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: hsl(222, 14%, 25%);
  --inlineCode-text: #E6E6E6;
  --tag-bg: var(--purple);
  --tag-color: #DDDDDD;
  --breadcrumbsTextColor: #D1C4E9;
  --breadcrumbsTextColorActive: #EEEEEE;
}


body {
  color: var(--base-color);
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
}


a {
  color: var(--link);
  box-shadow: none;
}

a:focus,
a:hover {
  color: var(--linkHover);
}

a:active {
  color: var(--linkActive);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--header-font-family);
  line-height: 1.4;
}

h1 {
  font-size: 1.875rem;
}

/*
  RTL layout
*/

/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */

code[class*="language-"],
pre[class*="language-"] {
  margin-bottom: 0;
  color: white;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  line-height: 1.5;
  white-space: pre;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  tab-size: 4;
  hyphens: none;
  background: none;
  font-feature-settings: normal;
}

/* Code blocks */

pre[class*="language-"] {
  padding: 1.3125rem;
  overflow: auto;
}

pre[class*="language-"]::-moz-selection {

  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*="language-"]::selection {

  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: 0.15em 0.2em 0.05em;
  color: var(--inlineCode-text);
  white-space: normal;
  background: var(--inlineCode-bg);
  border-radius: 0.3em;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: "italic";
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #FFA7C4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.gatsby-highlight-code-line {
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  background-color: hsla(207, 95%, 15%, 1);
  border-left: 0.25em solid #FFA7C4;
}

.gatsby-highlight {
  margin-right: -1.3125rem;
  margin-bottom: 1.75rem;
  margin-left: -1.3125rem;
  overflow: auto;
  background: #011627;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*="language-"] {
  float: left;
  min-width: 100%;
}
